@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* header part starts */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 50px auto;
}

.nav-title {
    font-size: 24px;
    font-weight: 800;
    width: 50%;
    color: #3A3A3A;

}

.menu {
    width: 50%;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-list li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}